<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Параметры -->
    <!-- <xacro:arg name="use_simulation" default="false" /> -->
    
    <!-- Вспомогательные модули -->
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="properties.xacro" />
    <xacro:include filename="inertial_macros.xacro" />

    <!-- Основные модули -->
    <xacro:include filename="base.xacro" />
    <xacro:include filename="wheels.xacro" />
    <xacro:include filename="lidar.xacro" />

    <!-- Подключаемые модули -->
    <xacro:include filename="ros2_control.xacro" />

    <!-- <xacro:if value="$(arg use_simulation)">
        <xacro:include filename="gazebo_plugins.xacro" />
    </xacro:if>

    <xacro:unless value="$(arg use_simulation)">
        <xacro:include filename="base.ros2_control.xacro" />
    </xacro:unless> -->

</robot>